body{

    background-color: rgb(98, 94, 94);

}

h1{
    color: bisque;
    position: absolute;
	top: 10%;
	left: 50%;
}

#input{
    background-color: rgb(185, 173, 173);

    border-radius: 10px;
    border: none;
    
    -webkit-box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.32); 
    box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.32);

    width: 500px;
    height: 20px;

    position: absolute;
	top: 20%;
	left: 30%;
    font-size: 12pt;
}

#hinzu{
    position: absolute;
	top: 20%;
	left: 60%;
    font-size: 12pt;

    border: none;
    border-radius: 10px;

}
#hinzu:hover{
    
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 2px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 2px rgba(0,0,0,0);

}

#entf{

    display: grid;
    width: 100px;

}

#punkt{
    width: 200px;


}

#liste{
    display: grid;
    grid-template-columns: 200px 100px;


    position: absolute;
	top: 25%;
	left: 30%;
    font-size: 12pt;
}